.container-master-reset-password {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container-reset-password {
  margin-top: 16rem;
}

.container-full-left {
  height: 100%;
  width: 50%;
  float: left;
  background-color: rgb(255, 255, 255);
}

.container-full-right {
  height: 100%;
  width: 50%;
  float: right;
}
