.container-master-login{
  width: 100%;
  height: 100%;
  margin: 0;
}

.container-full-left{
  height: 100%;
  width: 50%;
  float: left;
  background-color: aqua;
}

.container-full-right{
  height: 100%;
  width: 50%;
  float: right;
  background-color: rgb(255, 255, 255);
}

.row{
  margin-right: 0 !important;
}

.container-login{
  margin-top: 16rem;
}

.form-field{
  display: block;
  margin: 5% 0;
}

.btn-login{
  width: 48%;
}

.btn-subscribe{
  width: 48%;
  background-color: #4F7DCA;
  color: white;
}

.btn-login-right{
  float: right;
}

.btn-login-left{
  float: left;
}

.btn-actions-form{
  margin-top: 5%;
}

.btn-confirm{
  width: 50%;
  margin: 0 auto;
  display: block;
}

.container-confirm{
  height: 100%;
}

.title-login{
  color: #5E16EB;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 15%;
  width: 100%;
}

