.container-master-login{
  width: 100%;
  height: 100%;
  margin: 0;
}

.container-full-left{
  height: 100%;
  width: 50%;
  float: left;
  background-color: rgb(255, 255, 255);
}

.container-full-right{
  height: 100%;
  width: 50%;
  float: right;
}

.container-data-subscribe{
  margin-top: 12%;
}


.card-resident{
  float: left;
}

.card-owner{
  float: right;
}
// ::ng-deep .mat-horizontal-stepper-header {
//   pointer-events: none !important;
// }
