.container-form-login{
  width: 50%;
  margin: 0 auto;
}

.form-field{
  display: block;
  margin: 5% 0;
}

.btn-login{
  width: 100%;
}

.btn-actions-form{
  margin-top: 5%;
}

.title-login{
  color: purple;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 15%;
  width: 100%;
}
