.title-request-password-reset {
  color: #5E16EB;
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 10%;
  width: 100%;
}

.request-password-reset-form-field {
  display: block;
  margin: 5% 0;
}

.btn-request-password-reset {
  width: 48%;
}

.btn-back-to-login {
  width: 48%;
  background-color: #4F7DCA;
  color: white;
}

.btn-request-password-reset-right {
  float: right;
}

.btn-back-to-login-left {
  float: left;
}

.btn-request-password-reset-form {
  margin-top: 5%;
}
